/* .register-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100vh;
    background-color:#f0f0f0;
}
.register-container form{
    display:flex;
    flex-direction:column;
    width:300px;
    padding:20px;
    height: auto;
    background-color:#fff;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}
.register-container form label{
    margin-bottom:8px;
    font-weight:bold;
}       
.register-container form input{
    margin-bottom:15px;
    padding:10px;
    border:1px solid #ccc;
    border-radius:4px;
    font-size:16px;
}
.register-container form button{
    padding:10px;
    background-color:#4682B4;   
    color:#fff;
    border:none;
    border-radius:4px;          
    font-size:16px;
    cursor:pointer;
}
.register-container form button:hover{
    background-color:#218838;
}    */

body {
    background: linear-gradient(to right, #87CEEB, #4682B4); /* Softer gradient */
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container {
    width: 350px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* Added a solid background for better readability */
}

.register-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
}
.register-container h2 {
    margin-bottom: 20px;
    color: gray;
}

.register-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

.register-container button {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #4682B4;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.register-container button:hover {
    background-color: #5A9BD4;
}

.formed>label{
    color:gray
}
.button-register {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    padding: 0;
}
.button-register>a{
    color: white;
    /* text-decoration: none; */
}

@media (max-width: 576px) {
    .register-container {
        width: 90%;
    }
    .register-container input {
        width: 100%;
    }
}